html,body 
{
  height: 100%;
}

body 
{
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  justify-content: center;
}

a{
  text-decoration: none;
}

#card-tittle
{
  text-align: center;
}

.btn-color{
  background-color: #0e1c36;
  color: #fff;

}