<body>

    <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card my-5">
    
                <form class="card-body cardbody-color p-lg-5">

                    <!-- <img class="mb-4" src="../../../assets/joystick.ico" alt="" width="72" height="57"> -->
                    <h1 class="h3 mb-3 fw-normal" id="card-tittle">Registre su cuenta</h1>
            
                    <div class="mb-3"><input [(ngModel)]="mailIngresadoRegister" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="email" aria-describedby="emailHelp"placeholder="Mail"></div>
                    <div class="mb-3"><input [(ngModel)]="passwordIngresadoRegister" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="password" placeholder="Contraseña"></div>
                    <div class="text-center"><button (click)="registerAuthFirebase()" type="submit" class="btn btn-color px-5 mb-1 w-100">Ingresar</button></div>
                </form>
            </div>
          </div>
        </div>
      </div>
</body>
