<div class="row mb-2" id="expositor-juegos">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">¡El ahorcado!</h3>
            <p class="card-text mb-auto">Incorporamos El Ahorcado, un juego muy conocido popularmente, basado en la 
                adivinanza de una palabra, con un total de "6 vidas". Probá letra por letra, pensá e intentá adivinarla.<br>
            <a href="juegos/ahorcado" class="stretched-link">Probarlo</a>
        </p>     
        </div>
        <div class="col-auto d-none d-lg-block">
           <img class="bd-placeholder-img" width="200" height="200" src="../../../assets/game-files/ahorcado-files/0vidas.png">
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">¿Mayor o Menor?</h3>
              <p class="card-text mb-auto">Un juego interesante, ¿Es mayor o es menor? Consiste en la adivinanza de un número en
                base a otro (que da el jugador). La idea es adivinar con la menor cantidad de intentos posibles.<br>
                <a href="juegos/mayoromenor" class="stretched-link">Probarlo</a>
              </p>
            </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="200" src="../../../assets/game-files/mayor-o-menor-files/mas-o-menos.png">
                </div>
            </div>
        </div>
  

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Preguntados...</h3>
            <p class="card-text mb-auto">Un juego de trivia, muy simple. ¡Responde lo mejor <br> que puedas para ganar la máxima 
              cantidad de puntos posibles!<br>
              <a href="juegos/preguntados" class="stretched-link">Probarlo</a>
            </p>
          </div>
              <div class="col-auto d-none d-lg-block">
                  <img class="bd-placeholder-img" width="190" height="200" src="../../../assets/game-files/preguntados-files/preguntados.png">
              </div>
        </div>
    </div>


    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">¡Relaciona2!</h3>
            <p class="card-text mb-auto">¡Intentá relacionar las dos imagenes y llegar a una palabra en el menor tiempo posible!
              Cuando se acabe el tiempo, el juego habrá terminado. Adivina todo lo que puedas.<br>
              <a href="juegos/relacionados" class="stretched-link">Probarlo</a>
            </p>
          </div>
              <div class="col-auto d-none d-lg-block">
                  <img class="bd-placeholder-img" width="200" height="200" src="../../../assets/game-files/escripido/escripido.png">
              </div>
        </div>
    </div>

  </div>

  <div class="col g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="row-md-6 px-0" id="ver-mas-container">
          <a id="ver-mas-link">¡Proximamente más juegos!</a>
      </div>
  </div>

  <div class="col g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="row-md-6 px-0" id="ver-mas-container">
          <a id="ver-mas-link" href="/encuesta">¡Dejanos una encuesta!</a>
      </div>
</div>
 