<div class="p-4 p-md-5 mb-4 rounded text-bg-dark" id="container-main-question">
    <div class="row mb-2" id="b">
        <div class="row-md-6 px-0" id="main-question">
            <h1 class="display-4 fst-italic">¿Listo/a para practicar tu sentido de intuición?</h1>

            <p class="lead my-3"> 
                Contesta lo mejor que puedas, bajo tu intución y/o conocimiento <br> ¿Que esperas?
                <a text-decoration="none" class="lead my-3" id="link" (click)="startTrivia()">¡Comenzar a jugar!</a>
                <br>
                <label hidden id="final-pts">Tu puntuación fue: {{puntaje}} pts.</label>
            </p>

            <div id="error-container">
                <label id="error-login-message">No es posible jugar sin antes iniciar sesión. ¡Necesitamos identificarte!</label>
            </div>

            <form id="form-questions" hidden>

                <img src="https://source.unsplash.com/kSvpTrfhaiU" height="350px" width="75%" id="question-img">
                <h1 id="question">{{titulo}}</h1>

                <label id="time-left">{{timeleft}} Segundos restantes...</label> <label id="label-correct" hidden>¡BIEN!</label>  <label id="label-incorrect" hidden>¡MAL!</label>

                <div id="answers">
                    <input class="possible-answer" type="button" id="opcion1" (click)="opcionElegida(1)" readonly value="Opcion 1">
                    <input class="possible-answer" type="button" id="opcion2" (click)="opcionElegida(2)" readonly value="Opcion 2">
                    <input class="possible-answer" type="button" id="opcion3" (click)="opcionElegida(3)" readonly value="Opcion 3">
                    <input class="possible-answer" type="button" id="opcion4" (click)="opcionElegida(4)" readonly value="Opcion 4">
                </div>

            </form>
        </div>
    </div>
</div>