<div class="p-4 p-md-5 mb-4 rounded text-bg-dark" id="a">
    <div class="row mb-2" id="b">
        <div class="row-md-6 px-0" id="general-container">
            <h1 class="display-4 fst-italic">Ups, algo salió mal. ¿De quién será la culpa?</h1>
            <p class="lead my-3">Cuando algo sale mal como estos casos, es importante que sepas
                que la culpa puede ser tanto nuestra como suya. Lo que se sabe con total seguridad
                es que hubo un error que no permitió seguir navegando con normalidad.
                Por favor, reintente su acción. En caso de repetirse este error, comuníquese
                con el soporte de Brainmetive. 4282-3990. <br>
                Muchas gracias. Disculpe las molestias.
            </p>
        </div>
    </div>
</div>
