
<body>
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="row mb-2">
 
            <div class="col-md-6 px-0" id="general-container">
                <h1 class="display-4 fst-italic">Una breve presentación y resumen de quién soy</h1>
                
                <p class="lead my-3">Soy un programador de actualmente 19 años. Con un objetivo fijo y claro. Soy proveniente de Argentina, 
                    Buenos Aires. Inicié mi carrera en programación de una forma muy curiosa y repentina... 
                    teniendo la dicha fortuna de anotarme por primera vez a una carrera universitaria y 
                    entrar con los últimos cupos disponibles. Nunca programé anteriormente. Cuando recibí
                    un .pdf introductorio del tema de la programación me engachó. El camino, comenzó ahí, con un simple archivo
                    que explicaba los conceptos y principios mas básicos de la programación.
                    <br> Actualmente me encuentro estudiando, y próximo a buscar oportunidades laborales para insertarme
                    y comenzar una nueva y emocionante etapa.<br>
                    Ante cualquier propuesta de interés no dudes en comunicarmela a mi 
                    <a text-decoration="none" href="https://www.linkedin.com/in/gabriel-l%C3%B3pez-gasal-610539225/" class="link">Linked-in</a> 
                    que con gusto la analizaré.</p>
                </div>

            <div class="col-md-5" id="utn-shower">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="utn-row">
                        <div class="col-auto d-none d-lg-block">
                            <img class="bi me-4" width="100%" height="100%" role="img" aria-label="Bootstrap" src="../../../assets/utn.jpg" alt="PageIcon">
                        </div>
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Mi universidad</h3>
                        <div class="mb-1 text-muted">Sep 2022</div>
                            <p class="card-text mb-auto">Este es el link de redirección a la página oficial de la universidad. (Especialmente mi sede, a la que estudié y terminé la Tecnicatura en Programación).</p>
                            <a href="https://www.fra.utn.edu.ar/" class="link">Ir a su página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-md-5" id="gabriel-shower">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-250 position-relative" id="utn-row">
            <div class="col-auto d-none d-lg-block">
                <img id="fotoGabriel" class="bi me-0" width="150px" height="150px" role="img" aria-label="Bootstrap" src="../../../assets/fotomia.jpeg" alt="PageIcon">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">¡Este soy yo, Hola!</h3>
            <div class="mb-1 text-muted">Ene 2022</div>
            <p class="card-text mb-auto">A continuación te dejo mis redes sociales. Para que sin compromiso alguno puedas contactarme, conocerme y/o apoyarme. <br> 
                <a href="https://www.instagram.com/_gabriellopez18/" target="_blank" class="link2">Instagram</a> -
                <a href="https://twitter.com/GabiLpzGsl" target="_blank" class="link2">Twitter</a> - 
                <a href="https://www.facebook.com/gabi.lopezgasal/" target="_blank" class="link2">Facebook</a>⠀Muchas gracias ❣️​
            </p>
        </div>
    </div>
    </div>
    
    <div class="row mb-2" id="expositor-proyectos">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">Cotización de importaciones y exportaciones</h3>
              <strong class="d-inline-block mb-2 text-primary">Lenguaje: C</strong>
              <div class="mb-1 text-muted">Jun 2021</div>
                <p class="card-text mb-auto">Uno de los primeros proyectos que hice. Programado bajo varias formulas y calculos.
                Orientado a la cotización de importaciones/exportaciones marítimas/aereas/. De los primeros lenguajes que ví y profundicé. "C". 
                La visual no era para nada atractiva. Era solo la funcionalidad en la consola.<br>
                <a href="https://github.com/Ex0num/tp_laboratorio_1/tree/main/TP_3%20(SIN%20TP4)" class="stretched-link">Dar un vistazo</a>
            </p>     
            </div>
            <div class="col-auto d-none d-lg-block">
               <img class="bd-placeholder-img" width="200" height="250" src="../../../assets/C.PNG">
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">Analisis de datos, filtraciones y resultados</h3>
                <strong class="d-inline-block mb-2 text-primary">Lenguaje: C#</strong>
                <div class="mb-1 text-muted">Nov 2022</div>
                  <p class="card-text mb-auto">Fue de los proyectos que personalmente más aprendí y disfruté. Tuve una libertad de decisión enorme.
                    Cumpliendo varias condiciones, principalmente de filtrado de datos, pude darme el gusto de 
                    programar algo muy a mi "gusto" cumpliendo todo lo pedido. Windows Forms, me fue muy amigable y divertido.<br>
                    <a href="https://github.com/Ex0num/tp_laboratorio_2/tree/master/TP4" class="stretched-link">Dar un vistazo</a>
                  </p>
                </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250" src="../../../assets/Csharp.PNG">
                    </div>
                </div>
            </div>
        </div>

        <div class="col g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="row-md-6 px-0" id="ver-mas-container">
                <a href="https://github.com/Ex0num" id="ver-mas-link">Ver más de mis proyectos</a>
            </div>
        </div>
       
        <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
                <div class="row-md-6 px-0" id="general-container-gracias">
                    <h1 class="display-4 fst-italic">¡Muchas gracias por tomarse el tiempo de conocerme!</h1>
                    <p class="lead my-3">Me alegra mucho que se haya tomado el tiempo de conocerme, tan solo que visite esta sección 
                        de la pagina, significa mucho para mí. Muchas gracias. Espero seguir mejorando con el tiempo. 
                        Tengo muchos proyectos a futuro, planes de estudio, entre otras cosas. Ojalá pueda volver a captar su atención en otra
                        ocasión. Le deseo mucha suerte, y nuevamente, ¡gracias!
                    </p>
                </div>
        </div>
</body>
