<div id="contenedor-rankings">

    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <h3 class="display-6 fst-italic">Ranking - Mejores jugadores Ahorcado</h3>
       
        <div class="row" id="main-row1">
            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="card-1er-puesto-ahorcado">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">1° Puesto</h3>
                            <p class="card-text mb-auto">
                                Mail: {{ahorcadoPlayers[0].mail}}<br>
                                Puntuacion: {{ahorcadoPlayers[0].puntuacion}}<br>
                                Fecha: {{ahorcadoPlayers[0].fecha}}<br> 
                            </p>     
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="card-2do-puesto-ahorcado">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">2° Puesto</h3>
                            <p class="card-text mb-auto">
                                Mail: {{ahorcadoPlayers[1].mail}}<br>
                                Puntuacion: {{ahorcadoPlayers[1].puntuacion}}<br>
                                Fecha: {{ahorcadoPlayers[1].fecha}}<br> 
                            </p>     
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="card-3er-puesto-ahorcado">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">3° Puesto</h3>
                            <p class="card-text mb-auto">
                                Mail: {{ahorcadoPlayers[2].mail}}<br>
                                Puntuacion: {{ahorcadoPlayers[2].puntuacion}}<br>
                                Fecha: {{ahorcadoPlayers[2].fecha}}<br> 
                            </p>     
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <h3 class="display-6 fst-italic">Ranking - Mejores jugadores Mayor o Menor</h3>
       
        <div class="row" id="main-row2">
            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="card-1er-puesto-mayoromenor">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">1° Puesto</h3>
                            <p class="card-text mb-auto">
                                Mail: {{mayorOmenorPlayers[0].mail}}<br>
                                Puntuacion: {{mayorOmenorPlayers[0].puntuacion}}<br>
                                Fecha: {{mayorOmenorPlayers[0].fecha}}<br> 
                            </p>     
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="card-2do-puesto-mayoromenor">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">2° Puesto</h3>
                            <p class="card-text mb-auto">
                                Mail: {{mayorOmenorPlayers[1].mail}}<br>
                                Puntuacion: {{mayorOmenorPlayers[1].puntuacion}}<br>
                                Fecha: {{mayorOmenorPlayers[1].fecha}}<br> 
                            </p>     
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="card-3er-puesto-mayoromenor">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">3° Puesto</h3>
                            <p class="card-text mb-auto">
                                Mail: {{mayorOmenorPlayers[2].mail}}<br>
                                Puntuacion: {{mayorOmenorPlayers[2].puntuacion}}<br>
                                Fecha: {{mayorOmenorPlayers[2].fecha}}<br> 
                            </p>     
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <h3 class="display-6 fst-italic">Ranking - Mejores jugadores Preguntados</h3>
       
        <div class="row" id="main-row3">
            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="card-1er-puesto-preguntados">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">1° Puesto</h3>
                            <p class="card-text mb-auto">
                                Mail: {{preguntadosPlayers[0].mail}}<br>
                                Puntuacion: {{preguntadosPlayers[0].puntuacion}}<br>
                                Fecha: {{preguntadosPlayers[0].fecha}}<br> 
                            </p>     
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="card-2do-puesto-preguntados">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">2° Puesto</h3>
                            <p class="card-text mb-auto">
                                Mail: {{preguntadosPlayers[1].mail}}<br>
                                Puntuacion: {{preguntadosPlayers[1].puntuacion}}<br>
                                Fecha: {{preguntadosPlayers[1].fecha}}<br> 
                            </p>     
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="card-3er-puesto-preguntados">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">3° Puesto</h3>
                            <p class="card-text mb-auto">
                                Mail: {{preguntadosPlayers[2].mail}}<br>
                                Puntuacion: {{preguntadosPlayers[2].puntuacion}}<br>
                                Fecha: {{preguntadosPlayers[2].fecha}}<br> 
                            </p>     
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <h3 class="display-6 fst-italic">Ranking - Mejores jugadores Relaciona2</h3>
       
        <div class="row" id="main-row4">
            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="card-1er-puesto-relaciona2">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">1° Puesto</h3>
                            <p class="card-text mb-auto">
                                Mail: {{relaciona2Players[0].mail}}<br>
                                Puntuacion: {{relaciona2Players[0].puntuacion}}<br>
                                Fecha: {{relaciona2Players[0].fecha}}<br> 
                            </p>     
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="card-2do-puesto-relaciona2">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">2° Puesto</h3>
                            <p class="card-text mb-auto">
                                Mail: {{relaciona2Players[1].mail}}<br>
                                Puntuacion: {{relaciona2Players[1].puntuacion}}<br>
                                Fecha: {{relaciona2Players[1].fecha}}<br> 
                            </p>     
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="card-3er-puesto-relaciona2">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">3° Puesto</h3>
                            <p class="card-text mb-auto">
                                Mail: {{relaciona2Players[2].mail}}<br>
                                Puntuacion: {{relaciona2Players[2].puntuacion}}<br>
                                Fecha: {{relaciona2Players[2].fecha}}<br> 
                            </p>     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>