.bd-placeholder-img
{
    padding: 1rem;
}

#expositor-cartas
{
    display: flex;
    background-color: white;
    align-self: center;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

#expositor-menu
{
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

#error-container
{
    text-align: center;
}

#error-login-message
{
    border: 1px solid white;
    border-radius: 10px;

    color: #d25a5a;
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
}

.btnMenu
{
    align-self: center;
    width: min-content;
    height: 2rem;
    font-size: 20px;
    margin: 0.5rem;
    border-radius: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

#img-card-dorso-static
{
    margin-bottom: 1rem;
    margin-left: 25%;
}

#img-card-dorso, #img-card1, #img-card2, #img-card3, #img-card4, #img-card5, #img-card6, #img-card7, #img-card8, #img-card9, #img-card10
{
    margin-left: 25%;
    margin-top: 40px;
}

@media (max-width: 991px) 
{
    #img-card-dorso, #img-card1, #img-card2, #img-card3, #img-card4, #img-card5, #img-card6, #img-card7, #img-card8, #img-card9, #img-card10
    {
        align-self: center;
        margin-left: 0px;
    }
}